@import "./variables";

.ubicacion-titulo{
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    margin-top: $margin-top;
}

.mapa-ubicacion{
    display: flex;
    justify-content: center;
    margin-top: $margin-top;

}

.mapa-texto{
    text-align: center;
    margin-top: $margin-top;
}