@import "./variables";
@import "./accesoriosmain";
@import "./button";
@import "./contactomain";
@import "./font";
@import "./footer";
@import "./header";
@import "./imagendeproducto";
@import "./indexmain";
@import "./mediaquery";
@import "./nuevacoleccionmain";
@import "./texts";
@import "./trajesdebanomain";
@import "./ubicacionmain";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
    